@define-color background #1C1815;
@define-color foreground #E2C6A3;
@define-color select     #79726A;

@define-color pink       #f5c2e7;
@define-color purple     #cba6f7;
@define-color red        #f38ba8;
@define-color orange     #fab387;
@define-color yellow     #f9e2af;
@define-color green      #a6e3a1;
@define-color blue       #89b4fa;
@define-color gray       #45475a;
